.row.landing-page
	.col-sm-12#landing-page
		.row
			.col-md-4.landing-nothing
			.col-md-4.landing-avatar
				= image_tag("avatar.png")
			.col-md-4.landing-text
				Eat
				%br 
				Pray
				%br
				Code

	%nav.navbar.navbar-default.navbar-custom{:role => "navigation"}
		.navbar-header.navbar-right
			%button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-wide", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
				
		#navbar-wide.navbar-collapse.collapse.navbar-right
			%ul.nav.navbar-nav
				%li{role: "presentation"}
					= link_to "About"
				%li{role: "presentation"}
					= link_to "Blog"
				%li{role: "presentation"}
					= link_to "Contact"
										
.row.console.no-margin
	.col-md-push-2.col-md-8.console-window.no-padding
		.console-window-menu
			&nbsp
			MohammadRezai --- Bash --- x86
		.console-window-body
			.console-command
				&nbsp; &gt; Mo.origin
				%br
			.console-answer
				&nbsp;&nbsp;&nbsp; =&gt; "Adelaide, Australia"
			
			.console-command
				&nbsp; &gt; Mo.education
				%br
			.console-answer
				&nbsp;&nbsp;&nbsp; =&gt; "University of Adelaide, SA"
			
			.console-command
				&nbsp; &gt; Mo.major
				%br
			.console-answer
				&nbsp;&nbsp;&nbsp; =&gt; "Software Engineering"
			
			.console-command
				&nbsp; &gt; Mo.graduation
				%br
			.console-answer
				&nbsp;&nbsp;&nbsp; =&gt; "December 2018"
			
			.console-command
				&nbsp; &gt; Mo.workExperiance.current
				%br
			.console-answer
				&nbsp;&nbsp;&nbsp; =&gt; 
				company : "enabled"
				%br
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; position : "Mobile Application Dev Intern"
				%br
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; startDate : 27-November-2017
				%br
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endDate : 03-March-2018
			
			.console-command
				&nbsp; &gt; Mo.resume
				%br
			.console-answer
				&nbsp;&nbsp;&nbsp; =&gt;
				= link_to "resume.pdf", pdfjs.full_path(file: "/resume.pdf")
			
			.console-command
				&nbsp; &gt; Mo.email
				%br
			.console-answer
				&nbsp;&nbsp;&nbsp; =&gt;
				%a{:href => "mailto:hussy.rez@gmail.com"} hussy.rez@gmail.com
				
%h1 HTML Ipsum Presents
%p
%strong Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
%em Aenean ultricies mi vitae est.
Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
%h1 HTML Ipsum Presents
%p
%strong Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
%em Aenean ultricies mi vitae est.
Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
%h1 HTML Ipsum Presents
%p
%strong Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
%em Aenean ultricies mi vitae est.
Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
%h1 HTML Ipsum Presents
%p
%strong Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
%em Aenean ultricies mi vitae est.
Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
%h1 HTML Ipsum Presents
%p
%strong Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
%em Aenean ultricies mi vitae est.
Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
%h1 HTML Ipsum Presents
%p
%strong Pellentesque habitant morbi tristique
senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
%em Aenean ultricies mi vitae est.
Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
