!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Mohammad Rezai
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :stylesheets
    
  %body
    .page-wrapper.container-fluid
      %div
        %nav
          .navbar.navbar-default.navbar-fixed-top.min-padding{:role => "navigation"}
            .navbar-header.navbar-right
              %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-WDM-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                
            #bs-WDM-navbar-collapse-1.navbar-collapse.collapse
              %ul.nav.navbar-nav.navbar-right
                %li{role: "presentation"}
                  = link_to "About"
      %div
        %h3 This is what you’ll think of me
        %br/
        It’s going down like I told you
        %br/
        This is how it’s gonna be
        %p
          I’ll be the last man standing here
          %br/
          I’m not going anywhere
          %br/
          It’s going down like I told you
          %br/
          I’ll be the last man standing here
        %p
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          I’ll have you beggin’ for mercy, beggin for mercy Oh
          %br/
          I’m dangerous, so dangerous
          %br/
          I’m dangerous, so dangerous
        %p
          I’m the baddest mother up in here
          %br/
          And I’m about to make it clear
          %br/
          It’s going down like I told you
          %br/
          I’m the baddest mother up in here
        %p
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          I’ll have you beggin’ for mercy, beggin for mercy Oh
          %br/
          I’m dangerous, so dangerous
          %br/
          I’m dangerous, so dangerous
        %p
          Get ready cause here I come
          %br/
          I’m about to come and get me some
          %br/
          Hot as smoking gun
          %br/
          So get ready cause here I come
        %p
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          I’ll have you beggin’ for mercy, beggin for mercy Oh
          %br/
          I’m dangerous, so dangerous
          %br/
          I’m dangerous, so dangerousThis is how it’s gonna be
          %br/
          This is what you’ll think of me
          %br/
          It’s going down like I told you
          %br/
          This is how it’s gonna be
        %p
          I’ll be the last man standing here
          %br/
          I’m not going anywhere
          %br/
          It’s going down like I told you
          %br/
          I’ll be the last man standing here
        %p
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          I’ll have you beggin’ for mercy, beggin for mercy Oh
          %br/
          I’m dangerous, so dangerous
          %br/
          I’m dangerous, so dangerous
        %p
          I’m the baddest mother up in here
          %br/
          And I’m about to make it clear
          %br/
          It’s going down like I told you
          %br/
          I’m the baddest mother up in here
        %p
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          I’ll have you beggin’ for mercy, beggin for mercy Oh
          %br/
          I’m dangerous, so dangerous
          %br/
          I’m dangerous, so dangerous
        %p
          Get ready cause here I come
          %br/
          I’m about to come and get me some
          %br/
          Hot as smoking gun
          %br/
          So get ready cause here I come
        %p
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          What you gonna do? I’m gonna rock you
          %br/
          I’ll have you beggin’ for mercy, beggin for mercy Oh
          %br/
          I’m dangerous, so dangerous
          %br/
          I’m dangerous, so dangerous
        %hr/