!!!
%html{:lang => "en-US"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Mohammad Rezai
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :stylesheets
    
  %body
    .page-wrapper.container-fluid
      %div
        %nav
          .navbar.navbar-default.navbar-fixed-top.min-padding{:role => "navigation"}
            .navbar-header.navbar-right
              %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-WDM-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
                
            #bs-WDM-navbar-collapse-1.navbar-collapse.collapse
              %ul.nav.navbar-nav.navbar-right
                %li{role: "presentation"}
                  = link_to "About"
                %li{role: "presentation"}
                  = link_to "Blog"
                %li{role: "presentation"}
                  = link_to "Contact"
      = yield